:root {
    --main-background: #1B211A;
    --palette-darkgreen: #628141;
    --palette-green: #8BAE66;
    --palette-beige: #EBD5AB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
}

* button:hover {
    cursor: pointer;
}

/* Header and its content */
header {
    background-color: var(--palette-darkgreen);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 50px;
}

.logo {
    max-width: 250px;
    flex: 1;
    display: flex;
    align-items: center;
}

.logo p {
    color: white;
    font-size: 2rem;
    margin-left: 20px;
    font-weight: bold;
    user-select: none;
}
/* Header and its content */