:root {
    --palette-charcoal-black: #121212;
    --palette-dark-gray: #444444;
    --palette-soft-gray: #888888;
    --palette-medium-gray: #B0B0B0;
    --palette-light-gray: #E0E0E0;
    --palette-green: #8BAE66;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
}

* button:hover {
    cursor: pointer;
}

body {
    background-color: var(--palette-dark-gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:where(a, a:link, a:visited, a:hover, a:focus, a:active) {
  all: unset;
  cursor: pointer;
}



/* Header and its content */
header {
    width: 100%;
    min-height: 110px;
    background-color: var(--palette-charcoal-black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    padding-inline: 20px;
    container-type: inline-size;
    container-name: header;
}

.logo {
    width: 250px;
    min-width: 250px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

header .logo svg {
    flex: 0 0 auto;        /* don't grow, don't shrink */
    width: 65px;           /* or whatever your intended size is */
    height: 65px;
}

.logo h1 {
    color: var(--palette-green);
    font-size: 2rem;
    margin-left: 20px;
    font-weight: bold;
    user-select: none;
}

header nav {
    margin-top: 18px;
    user-select: none;
    flex: 0 0 auto;
    display: flex;
    gap: 1rem;
}

@container header (max-width: 758px) {
    header nav {
        flex: 1 1 100%;
        justify-content: space-around;
    }
}

@container header (max-width: 758px) {
    header .logo {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
    }
}

@container header (max-width: 758px) {
    header .logo h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: var(--palette-green);
        height: 55px;
        width: 300px;
        color: var(--palette-charcoal-black);
    }
}

header button {
    min-width: 140px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--palette-light-gray);
    padding: 8px 16px;
    background-color: var(--palette-dark-gray);
    border: 1px solid var(--palette-soft-gray);
    border-radius: 5px 15px;
    transition-duration: 0.5s;
}

header button:hover {
    background-color: var(--palette-soft-gray);
    color: var(--palette-charcoal-black);
    transition-duration: 0.5s;
}

header .active-button {
    background-color: var(--palette-soft-gray);
    color: var(--palette-charcoal-black);
    position: relative;
}

/* Tooltip for active page button */
.active-button::after {
    content: "You are here!";
    position: absolute;
    bottom: 118%;
    left: 50%;
    transform: translateX(-50%);
    
    background: #505050;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    
    /* Hidden by default */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.active-button:hover::after {
    opacity: 1;
    visibility: visible;
}



/* Footer and its content */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: var(--palette-charcoal-black);
    width: 100%;
    height: 40px;
    border-top: 1px solid var(--palette-soft-gray);
}

footer p {
    font-size: 1.1rem;
    color: var(--palette-soft-gray);
}

footer a {
    color: var(--palette-light-gray);
}

footer a:hover {
    color: white;
}



/* Main content stylings */
#content {
    width: 85%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 30px;
}



/* Home Page content */
.home-content {
    width: 100%;
    flex: 1;
    border-radius: 40px 40px 10px 10px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('./Media/background-landscape.webp');
    background-size: cover;
    background-position: center;
    padding-block: 6rem;
    padding-inline: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    container-type: inline-size;
    container-name: home;
}

.home-content div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 45%;
}

@container home (max-width: 720px) {
    .home-content div {
        max-width: 100%;
    }
}

.home-content h1 {
    color: white;
    font-size: 2.2rem;
}

.home-content p {
    color: var(--palette-light-gray);
    font-size: 1.3rem;
}



/* Menu Page content */
.menu-content {
}



/* About Page content */
.about-content {
    width: 70%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-content > div {
    width: 100%;
    width: 650px;
    background-color: var(--palette-dark-gray);
    margin-block: 30px;
    border-radius: 15px;
    box-shadow: 15px 15px 30px #242424,
                -15px -15px 30px #646464;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding-inline: 40px;
}

.about-content h3 {
    color: var(--palette-medium-gray);
    margin-bottom: 10px;
}

.about-content h2 {
    color: var(--palette-light-gray);
}

.contact-info {
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info > div {
    margin-inline: 20px;
}

.address-info {
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.address-info > div {
    margin-inline: 20px;
}

.crew-box {
    min-height: 800px;
}