:root {
    --palette-charcoal-black: #121212;
    --palette-dark-gray: #444444;
    --palette-soft-gray: #888888;
    --palette-medium-gray: #B0B0B0;
    --palette-light-gray: #E0E0E0;
    --palette-green: #8BAE66;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
}

* button:hover {
    cursor: pointer;
}

body {
    background-color: var(--palette-dark-gray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:where(a, a:link, a:visited, a:hover, a:focus, a:active) {
  all: unset;
  cursor: pointer;
}



/* Header and its content */
header {
    width: 100%;
    min-height: 110px;
    background-color: var(--palette-charcoal-black);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    padding-inline: 20px;
    container-type: inline-size;
    container-name: header;
}

.logo {
    width: 250px;
    min-width: 250px;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

header .logo svg {
    flex: 0 0 auto;        /* don't grow, don't shrink */
    width: 65px;           /* or whatever your intended size is */
    height: 65px;
}

.logo h1 {
    color: var(--palette-green);
    font-size: 2rem;
    margin-left: 20px;
    font-weight: bold;
    user-select: none;
}

header nav {
    margin-top: 18px;
    user-select: none;
    flex: 0 0 auto;
    display: flex;
    gap: 1rem;
}

@container header (max-width: 758px) {
    header nav {
        flex: 1 1 100%;
        justify-content: space-around;
    }
}

@container header (max-width: 758px) {
    header .logo {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
    }
}

@container header (max-width: 758px) {
    header .logo h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: var(--palette-green);
        height: 55px;
        width: 300px;
        color: var(--palette-charcoal-black);
    }
}

header button {
    min-width: 140px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--palette-light-gray);
    padding: 8px 16px;
    background-color: var(--palette-dark-gray);
    border: 1px solid var(--palette-soft-gray);
    border-radius: 5px 15px;
    transition-duration: 0.5s;
}

header button:hover {
    background-color: var(--palette-soft-gray);
    color: var(--palette-charcoal-black);
    transition-duration: 0.5s;
}

header .active-button {
    background-color: var(--palette-soft-gray);
    color: var(--palette-charcoal-black);
    position: relative;
}

/* Tooltip for active page button */
.active-button::after {
    content: "You are here!";
    position: absolute;
    bottom: 118%;
    left: 50%;
    transform: translateX(-50%);
    
    background: #505050;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    
    /* Hidden by default */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.active-button:hover::after {
    opacity: 1;
    visibility: visible;
}



/* Footer and its content */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: var(--palette-charcoal-black);
    width: 100%;
    height: 40px;
}

footer p {
    font-size: 1.1rem;
    color: var(--palette-soft-gray);
}

footer a {
    color: var(--palette-light-gray);
}

footer a:hover {
    color: white;
}



/* Main content stylings */
#content {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
}